body {
    background-color: rgb(65 189 173);
    font-family: "Chakra Petch", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    background-color: #e5b512;
    color: #250465;
    font-family: "Chakra Petch", serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 40%;
}